body {
    font-family: Verdana,Geneva,sans-serif; 
    border: 2px solid black;
    margin: 0 auto 0 auto;
    width: 50%;
    background-color:#f88c80;
    max-width: 600px;
}

header {
    background-image: url("../img/geraniums_cropped.jpg");
    background-repeat:no-repeat;
    background-color:white;
    width:100%;
    height:150px;
    margin-bottom:0;
}

main {
    padding: 0 1rem 1rem 1rem;
    background-color:white;
    margin-top:0;
}

footer {
    padding: 0 1rem;
}

h1 {
    color:#274001;
    border-bottom:solid  #FF1768;
    text-shadow: 1px 1px #A7D984;
    margin-top:0;
}
